{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
          
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <a href="/abe_courses.html"><button type="button" class="btn-close" aria-label="Close"></button></a>
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape2 icon-shape-primary rounded me-4 me-sm-0">
                            <a href="/abe_courses.html"> <img src="static/assets/img/school logo/ABE.png" ></a>
                        </div>
                        <div class="d-sm-none">
                            <a href="/abe_courses.html" class="card-link"><h2>ABE</h2></a>
                            <h2 class="h5">BSHM</h2>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <a href="/abe_courses.html" class="card-link"><h1>ABE International Business College</h1></a>
                        </div>
                        <small class="d-flex align-items-center text-gray-500">  
                            
                            Address: Village Center, Imelda Avenue, Tacloban, City, Leyte, Philippines
                        </small> 
                    </div>
                </div>
            </div>
            <table class="table table-hover tab">                  
                <thead>
                    <h2 class="font-weight-bold text-secondary">Bachelor Of Science in hospitality Management
                    </h2>
                </thead>
                
                    <p>
                        <i class="fa-light fa-circle-chevron-right"></i>
                        DURATION: <span class="text-secondary h5">3 Years (Trimester) </span>
                    </p>
               
            </table><br>
            <h3>Program Overview</h3>
            <p>The Bachelor of Science in Business Administration (BSBA) program is a 3-year program here in ABE with Trimester.The Bachelor of Science in Hospitality Management (BS HM) covers the process of planning, development, human resource management of the different aspects of the hotel, restaurant, and resorts operations. The program also intends to teach entrepreneurship skills.</p>

            <p>
                <i class="fa-light fa-circle-chevron-right"></i>
                ADMISSION REQUIREMENTS:
            </p>
            <div>
                <div id="this1" class="form-check form-check-inline">
                   
                    <u><label class="form1" for="inlineRadio1"><u>Freshmen</label></u></u>
                  </div>
                  |
                  <div id="this1" class="form-check form-check-inline">
                    
                    <label class="form1" for="inlineRadio2"><u>Transferee</u></label>
                  </div>

             <div class="msgbox"></div>
            </div><br>
            <p>
                <i class="fa-light fa-circle-chevron-right"></i>
                TUITION FEE: <span class="text-secondary h5">Php 37,510 per year (Tuition and Other Fees*) </span><br>
                
            </p>
</div>

        
            
        
 </div>
                
           
        
        
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-0 shadow">
                       
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="col-12 px-0 mb-4">
                <div class="card border-0 shadow">
                        
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
