{% extends "layouts/base.html" %}

{% block title %} UI Modals {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<style>
    .images{
        display: flex;
    }
</style>
<body bgcolor="lightgrey">
    <div style="background: white; height: 300px; margin-top: 10px;">
        <br>
        <p style="font-family: Raleway,sans-serif; font-size: xx-large; text-align: center;">About us</p>
        <p style="font-family: Raleway,sans-serif; text-align: justify; padding: 0px 100px 0px 100px; text-indent: 50px;">Find College is a system that would help students create the most accurate decision-making on choosing the best college course in line with their future careers. The importance of this project is that it will provide supporting decision-making within the app that students can use to detect the most appropriate college course to take. The application aims to gather information through tests regarding the student's prior knowledge, aptitude, skills, and competencies. With accurate data collection, the system is uniquely helping students with the course information, including the schools where the offered course is available. The basis for choosing the school is through the analysis response of the students in his demographic profile.
        </p>
    </div>
    <br>
    <p style="font-family: Raleway,sans-serif; text-align: center; font-size: xx-large;">Developers</p>
    <div class="images">
        <div style="height: 200px; width: 200px; background-color: white; padding: 10px; margin: 50px 0px 0px 130px;"">
                <img src="static\assets\img\dvprs\lim.png" alt="lim" style="height: 180px; width: 200px;">
        </div>
        <div style="height: 200px; width: 200px; background-color: white; padding: 10px; margin: 50px 0px 0px 100px;"">
                <img src="static\assets\img\dvprs\cahinde.jpg" alt="cahinde" style="height: 180px; width: 200px;">
        </div>
        <div style="height: 200px; width: 200px; background-color: white; padding: 10px; margin: 50px 0px 0px 100px;"">
                <img src="static\assets\img\dvprs\tonido.jpg" alt="tonido" style="height: 180px; width: 200px;">
        </div>
    </div>
            <br>
            <strong style="margin-left: 170px; font-family: Raleway,sans-serif; text-align: center;">Raynan Jake Lim</strong>
            <strong style="margin-left: 180px; font-family: Raleway,sans-serif; text-align: center;">Randy Cahinde</strong>
            <strong style="margin-left: 180px; font-family: Raleway,sans-serif; text-align: center;">Jhon Jerby Tonido</strong>
        </div>
        <br><br>

        <!-- <div style="background: white; height: 100px; margin-top: 50px;">
            <br>
            <p style="font-family: Raleway,sans-serif; text-align: center;">© All rights reserved 2022</p>
        </div> -->
</body>
</html>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
