{% extends "layouts/base.html" %}

{% block title %} EVSU {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<section style="background-color: #eee;">
    <div class="container">
      <div class="row justify-content-center">
        <a href="/schools.html"><button type="button" class="btn-close" aria-label="Close"></button></a>
        <div class="col-12 mb-4">
            <div class="card text-black">
                <div class="icon-shape-logo icon-shape-primary  mx-auto mt-4">
                    <img src="static/assets/img/school logo/ASIAN.png" >
                </div>
            <div class="card-body">
              <div class="text-center">
                <h1 class="card-title font-weight-bold">Asian Developement Foundation College</h1>
                <p class="text-muted mb-4">Address:  Bgry. 32 P.Burgos Street, 6500 Tacloban City, Leyte</p>
                <br>
              </div>
              <div class="card card-body border-0 shadow table-wrapper table-responsive">
                <table class="table table-hover tab">                  
                    <thead>
                        <h2 class="font-weight-bold">Courses Offered</h2>
                    </thead>
                    <tbody>
                        <tr class='clickable-row' data-href='adfc_bscomsci.html'>
                            <td>
                                <a href="adfc_bscome.html" class="fw-bold">
                                      Bachelor of Science in Computer Engineering
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_bsce.html'>
                            <td>
                                <a href="adfc_bsce.html" class="fw-bold">
                                    Bachelor of Science in Civil Engineering
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_bsa.html'>
                            <td>
                                <a href="adfc_bsa.html" class="fw-bold">
                                  Bachelor of Science in Accountancy
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_bsat.html'>
                            <td>
                                <a href="adfc_bsat.html" class="fw-bold">
                                    Bachelor of Science in Accounting Technology
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_bsentrep.html'>
                            <td>
                                <a href="adfc_bsentrep.html" class="fw-bold">
                                    Bachelor of Science in Entrepreneurship
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_bsbabf.html'>
                            <td>
                                <a href="adfc_bsbabf.html" class="fw-bold">
                                    BSBA in Banking and Finance
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_bsbabe.html'>
                            <td>
                                <a href="adfc_bsbabe.html" class="fw-bold">
                                    BSBA in Business Economics
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_bsbae.html'>
                            <td>
                                <a href="adfc_bsecon.html" class="fw-bold">
                                    Bachelor of Science in Economics
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_bsbam.html'>
                            <td>
                                <a href="adfc_bsbam.html" class="fw-bold">
                                    BSBA in Management 
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_bsbamm.html'>
                            <td>
                                <a href="adfc_bsbamm.html" class="fw-bold">
                                    BSBA in Marketing Management
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_bshrm.html'>
                            <td>
                                <a href="adfc_bshrm.html" class="fw-bold">
                                    Bachelor of Science in Hotel and Restaurant Management
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_bstm.html'>
                            <td>
                                <a href="adfc_bstm.html" class="fw-bold">
                                    Bachelor of Science in Tourism Management
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_bstrm.html'>
                            <td>
                                <a href="adfc_bstrm.html" class="fw-bold">
                                    Bachelor of Science in Travel Management
                                </a>
                            </td>
                        </tr>
                
                        <tr class='clickable-row' data-href='adfc_beed.html'>
                            <td>
                                <a href="adfc_beed.html" class="fw-bold">
                                    Bachelor of Elementary Education
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_.html'>
                            <td>
                                <a href="adfc_bsed.html" class="fw-bold">
                                    Bachelor of Secondary Education
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_bsco.html'>
                            <td>
                                <a href="adfc_comscie" class="fw-bold">
                                    Bachelor of Science in Computer Science
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_bsit.html'>
                            <td>
                                <a href="adfc_bsit.html" class="fw-bold">
                                    Bachelor of Science in Information Technology
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_bsmid.html'>
                            <td>
                                <a href="adfc_bsmid.html" class="fw-bold">
                                    Bachelor of Science in Midwifery
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_bsn.html'>
                            <td>
                                <a href="adfc_bsn.html" class="fw-bold">
                                    Bachelor of Science in Nursing
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_bab.html'>
                            <td>
                                <a href="adfc_bab.html" class="fw-bold">
                                    Bachelor of Arts in Broadcasting
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_baj.html'>
                            <td>
                                <a href="adfc_baj.html" class="fw-bold">
                                    Bachelor of Arts in Journalism
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_bac.html'>
                            <td>
                                <a href="adfc_bamc.html" class="fw-bold">
                                    Bachelor of Arts in Mass Communication
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_bsbam.html'>
                            <td>
                                <a href="adfc_bsbam.html" class="fw-bold">
                                    Bachelor of Science in Business Administration major in: Financial Management
                                </a>
                            </td>
                        </tr>
                        <tr class='clickable-row' data-href='adfc_bap.html'>
                            <td>
                                <a href="adfc_bap.html" class="fw-bold">
                                    Bachelor of Arts in Psychology
                                </a>
                            </td>
                        </tr>
                    
                        <tr class='clickable-row' data-href='adfc_bscrim.html'>
                            <td>
                                <a href="adfc_bscrim.html" class="fw-bold">
                                    Bachelor of Science in Criminology
                                </a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <h3 style="margin-top: 20px;">Location:</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3913.27256171427!2d125.00071421433985!3d11.24134895351472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x330870d303d2a1d1%3A0x6e54fe85ecda5763!2sAsian%20Development%20Foundation%20College!5e0!3m2!1sen!2sph!4v1669141156410!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
