{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
          
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <a href="/evsu_courses.html"><button type="button" class="btn-close" aria-label="Close"></button></a>
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape2 icon-shape-primary rounded me-4 me-sm-0">
                            <a href="/evsu_courses.html"> <img src="static/assets/img/school logo/EVSU.png" ></a>
                        </div>
                        <div class="d-sm-none">
                            <a href="/evsu_courses.html" class="card-link"><h2>EVSU</h2></a>
                            <h2 class="h5">BTVTED-AT</h2>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <a href="/evsu_courses.html" class="card-link"><h1>Eastern Visayas State University</h1></a>
                        </div>
                        <small class="d-flex align-items-center text-gray-500">  
                            
                            6XRW+3W9, Salazar St, Downtown, Tacloban City, Leyte, Philippines
                        </small> 
                    </div>
                </div>
            </div>
            <table class="table table-hover tab">                  
                <thead>
                    <h2 class="font-weight-bold text-secondary">Bachelor of Technical-Vocational Teacher Education (BTVTEd) major in: Automotive Technology (AT)</h2>
                </thead>
                
                    <p>
                        <i class="fa-light fa-circle-chevron-right"></i>
                        DURATION: <span class="text-secondary h5">4 Years</span>
                    </p>
               
            </table><br>
            <h3>Program Overview</h3>
            <p>Bachelor of Technical-Vocational Teacher Education (BTVTEd) major in: Automotive Technology (AT) is a four-year course designed to 
                prepare the graduate to work practically in every phase of basic engineering and technology areas such as 
                research and development, practical design experiment production planning and quality control testing in areas 
                involving in automotive technology. Specifically, the course deals with the study of principles of design and 
                construct of the different system and components of automobiles. Laboratory and/or practicum as well as actual 
                servicing job under chassis, engine, and body and electrical is undertaken to equip the students’ knowledge and 
                skill of teacher, technician or supervisor in industry.</p>

            <p>
                <i class="fa-light fa-circle-chevron-right"></i>
                ADMISSION REQUIREMENTS:
            </p>
            <div>
                <div id="this1" class="form-check form-check-inline">
                   
                    <u><label class="form1" for="inlineRadio1"><u>Freshmen</label></u></u>
                  </div>
                  |
                  <div id="this1" class="form-check form-check-inline">
                    
                    <label class="form1" for="inlineRadio2"><u>Transferee</u></label>
                  </div>

             <div class="msgbox"></div>
            </div><br>
            <p>
                <i class="fa-light fa-circle-chevron-right"></i>
                TUITION FEE: <span class="text-secondary h5">FREE</span><br>
                <span class="text-info">Note: This School is included in Republic Act 10931 or the "Universal Access to Quality Tertiary Education Act"</span>
            </p>
</div>

        
            
        
 </div>
                
           
        
        
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-0 shadow">
                       
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="col-12 px-0 mb-4">
                <div class="card border-0 shadow">
                        
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
