{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
          
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <a href="/jemcc_courses.html"><button type="button" class="btn-close" aria-label="Close"></button></a>
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape2 icon-shape-primary rounded me-4 me-sm-0">
                            <a href="/jemcc_courses.html"> <img src="static/assets/img/school logo/JM.png" ></a>
                        </div>
                        <div class="d-sm-none">
                            <a href="/jemcc_courses.html" class="card-link"><h2>JEMCC</h2></a>
                            <h2 class="h5">DHM</h2>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <a href="/jemcc_courses.html" class="card-link"><h1>JE Mondejar Computer College</h1></a>
                        </div>
                        <small class="d-flex align-items-center text-gray-500">  
                            
                            Address: Brgy. 71, Naga-Naga, Tacloban City, 6500 Leyte
                        </small> 
                    </div>
                </div>
            </div>
            <table class="table table-hover tab">                  
                <thead>
                    <h2 class="font-weight-bold text-secondary">Diploma in Hospitality Management</h2>
                </thead>
                
                    <p>
                        <i class="fa-light fa-circle-chevron-right"></i>
                        DURATION: <span class="text-secondary h5">3 Years </span>
                    </p>
               
            </table><br>
            <h3>Program Overview</h3>
            <p>A Hospitality Management diploma provides a grounding of knowledge for a career in hospitality, events or tourism. It delivers the skills needed for hospitality management, including human resources management, promotions and service management. Upon completion, you’ll have an understanding of the attributes, skills and experience of higher-level hospitality concepts and operations.
                During this course you will be introduced to hospitality concepts and discover business and management principles. This course can be studied completely online, on campus in Sydney, or a combination of both. This course will prepare you for entry-level roles in the hospitality industry, or you can further your studies and enter directly into the second year of the Bachelor of Business.</p>

            <p>
                <i class="fa-light fa-circle-chevron-right"></i>
                ADMISSION REQUIREMENTS:
            </p>
            <div>
                <div id="this1" class="form-check form-check-inline">
                   
                    <u><label class="form1" for="inlineRadio1"><u>Freshmen</label></u></u>
                  </div>
                  |
                  <div id="this1" class="form-check form-check-inline">
                    
                    <label class="form1" for="inlineRadio2"><u>Transferee</u></label>
                  </div>

             <div class="msgbox"></div>
            </div><br>
            <p>
                <i class="fa-light fa-circle-chevron-right"></i>
                TUITION FEE: <span class="text-secondary h5">Php 10,000 per sem </span><br>
                
            </p>
</div>

        
            
        
 </div>
                
           
        
        
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-0 shadow">
                       
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="col-12 px-0 mb-4">
                <div class="card border-0 shadow">
                        
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
