
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
          
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <a href="/ph_courses.html"><button type="button" class="btn-close" aria-label="Close"></button></a>
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                  
                </div>
            </div>
            <table class="table table-hover tab">                  
                <thead>
                    <h2 class="font-weight-bold text-secondary">AB in Literature</h2>
                </thead>
                
                    <p>
                        <i class="fa-light fa-circle-chevron-right"></i>
                        DURATION: <span class="text-secondary h5">4 Years</span>
                    </p>
               
            </table><br>
            <h3>Program Overview</h3>
            <p> &nbsp  &nbsp The Bachelor of Arts in Literature is a four-year degree program that focuses on teaching students literature from all over the world from an Asian and a Filipino perspective. The program emphasizes theoretical and critical approaches in the analysis of literary genres by studying the nature, function, and value of literature in a comparative context. It also provides skills and training in investigating traditional and contemporary approaches to literary study, literary theory, and the relationship of literature to other branches of arts and sciences. Students will also learn skills in writing and reading creative and critical texts, reportage, and literary scholarship.</p>
            <p>
                <i class="fa-light fa-circle-chevron-right"></i>
                SCHOOLS THAT OFFERING THIS COURSE: <span class="text-secondary h5">N/A</span><br>
                
            </p>
        </div>     
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
