
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
          
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <a href="/ph_courses.html"><button type="button" class="btn-close" aria-label="Close"></button></a>
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                  
                </div>
            </div>
            <table class="table table-hover tab">                  
                <thead>
                    <h2 class="font-weight-bold text-secondary">Bachelor or Science in Agroforestry</h2>
                </thead>
                
                    <p>
                        <i class="fa-light fa-circle-chevron-right"></i>
                        DURATION: <span class="text-secondary h5">4 Years</span>
                    </p>
               
            </table><br>
            <h3>Program Overview</h3>
            <p> &nbsp  &nbsp &nbsp Bachelor of Science in Agroforestry (BSAF) is a four- year degree course that involves an inter-disciplinary approach in carrying out the mandate of CBSUA as a Regional Agriculture Center in the Bicol Region.  BSAF recognizes the potentials to help attain socio-economic productivity and stability in the rural communities. It is also a response to the surging interest in advancing Agroforestry Education in the country as demonstrated in the efforts of Philippine Agroforestry Education Network and Environmental Education Network in the Philippines to establish agroforestry as a separate and distinct field of specialization.

                <br> <br> &nbsp &nbsp &nbsp Agroforestry is a multi-disciplinary and integrative field of learning.  As a science and a farmer’s practice, it embraces a wide range of disciplines.  It is part and parcel of broader context of community-based natural resource management and rural development.  It involves bio-physical sciences such as agriculture and forestry as well as socio-economic and local or indigenous culture.</p>
  </div>
    
 </div>
     
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-0 shadow">
                       
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="col-12 px-0 mb-4">
                <div class="card border-0 shadow">
                        
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
