
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
          
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <a href="/ph_courses.html"><button type="button" class="btn-close" aria-label="Close"></button></a>
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                  
                </div>
            </div>
            <table class="table table-hover tab">                  
                <thead>
                    <h2 class="font-weight-bold text-secondary">Bachelor of Arts in Developement Communication</h2>
                </thead>
                
                    <p>
                        <i class="fa-light fa-circle-chevron-right"></i>
                        DURATION: <span class="text-secondary h5">4 Years</span>
                    </p>
               
            </table><br>
            <h3>Program Overview</h3>
            <p> &nbsp  &nbsp &nbsp The Bachelor of Science in Development Communication (BS Dev Com) is a program that provides students a strong foundation of the theories and principles of communication and its significant role in development. The program has a broad range of subjects in natural and social sciences, agriculture, health, and the environment. It also focuses on the context behind verbal and non-verbal messages on different media platforms. With all of these relevant subject matter, the program aims to make students knowledgeable on skills needed in implementing communication programs for development. Graduates of this program are expected to analyze social issues through applying social sciences concepts and theories while making sure professional and ethical standards are followed.</p>
            <p>
                <i class="fa-light fa-circle-chevron-right"></i>
                SCHOOLS THAT OFFERING THIS COURSE: <span class="text-secondary h5">N/A</span><br>
                
            </p>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
