
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
          
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <a href="/ph_courses.html"><button type="button" class="btn-close" aria-label="Close"></button></a>
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                  
                </div>
            </div>
            <table class="table table-hover tab">                  
                <thead>
                    <h2 class="font-weight-bold text-secondary">Bachelor of Science in Metallurgical Engineering</h2>
                </thead>
                
                    <p>
                        <i class="fa-light fa-circle-chevron-right"></i>
                        DURATION: <span class="text-secondary h5">4-5 Years</span>
                    </p>
               
            </table><br>
            <h3>Program Overview</h3>
            <p> &nbsp  &nbsp &nbsp Bachelor of Science in Metallurgical Engineering is a profession that involves the teaching and practice of 
                physical and/or chemical processing and treatment of metals from ores to achieve properties 
                required for their application. It is also the study of the properties of metallic materials by 
                altering the microscopic structure with alloying additions and special treatments, and designing 
                and processing techniques to transform these metals into useful shapes, such as billets, ingots, 
                bars and slabs. In the mining and manufacturing industries, metallurgical engineers apply their 
                knowledge of metals to solve complex problems. They deal with all aspects of the production 
                and application of metals and their alloys. This means that they must learn about each stage of 
                the metal-making process, from mining and extraction through alloy formation and the use of 
                metals in finished products.<br><br>
                &nbsp  &nbsp &nbspGraduates of this program are in academic, industrial, and government sectors. Job 
                functions include research, teaching, process engineering and optimization and production of 
                metallic materials and related products. The program includes core courses, specialization 
                courses, elective courses, and plant design and research. The program will adopt outcome-based 
                education (OBE) framework with flipped classroom and other blended learning pedagogies.</p>
                <p>
                    <i class="fa-light fa-circle-chevron-right"></i>
                    SCHOOLS THAT OFFERING THIS COURSE: <span class="text-secondary h5">N/A</span><br>
                    
                </p>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
