
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
          
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <a href="/ph_courses.html"><button type="button" class="btn-close" aria-label="Close"></button></a>
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                  
                </div>
            </div>
            <table class="table table-hover tab">                  
                <thead>
                    <h2 class="font-weight-bold text-secondary">Bachelor of Science in Petroleum Engineering</h2>
                </thead>
                
                    <p>
                        <i class="fa-light fa-circle-chevron-right"></i>
                        DURATION: <span class="text-secondary h5">4-5 Years</span>
                    </p>
               
            </table><br>
            <h3>Program Overview</h3>
            <p> &nbsp  &nbsp &nbsp The Bachelor of Science in Petroleum Engineering is a program that is concerned with the extraction of oil, petroleum, and other natural gases from the earth and their subsequent delivery to processing facilities as well as the design and development of new technology that will speed up the process while keeping the operational cost to a minimum. Some examples of courses that you may take while enrolled in this program include:<br>

                Differential Calculus<br>
                Integral Calculus<br>
                Trigonometry<br>
                Thermodynamics<br>
                Structural Geology<br>
                Physical Geology<br>
                Reservoir Engineering<br>
                Programming Languages<br>
                Probability and Statistics<br>
                Drilling Technology<br>
                Strength of Materials<br>
                Reservoir Engineering<br>
                Plant Design<br>
                Process Plant Engineering<br>
                Drilling Fluids and Cement<br>
                Formation and Prospect Evaluation<br>
                Control and Instrumentation<br>
                Electrical Machines<br>
                Environmental Engineering<br>
                Project Operation Management<br>
                Unit Operation<br>
                Petroleum Production<br>
                Petroleum Engineering<br>
                Natural Gas Engineering</p>
                <p>
                    <i class="fa-light fa-circle-chevron-right"></i>
                    SCHOOLS THAT OFFERING THIS COURSE: <span class="text-secondary h5">N/A</span><br>
                    
                </p>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
