
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
          
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <a href="/ph_courses.html"><button type="button" class="btn-close" aria-label="Close"></button></a>
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                  
                </div>
            </div>
            <table class="table table-hover tab">                  
                <thead>
                    <h2 class="font-weight-bold text-secondary">Bachelor or Science in Radiologic Technology</h2>
                </thead>
                
                    <p>
                        <i class="fa-light fa-circle-chevron-right"></i>
                        DURATION: <span class="text-secondary h5">5 Years</span>
                    </p>
               
            </table><br>
            <h3>Program Overview</h3>
            <p> &nbsp  &nbsp &nbspThe Bachelor of Science in Radiologic Technology (BS RadTech) is a four-year degree program designed to train students on how to operate medical imaging equipment such as X-rays, CT scanners, MRIs, sonogram machines, and 3D medical imaging programs among other computer and web-based software programs. Students are also taught how to perform associated clerical duties, including scheduling and maintaining paperwork for office and clinical machinery. </p>
            <p>
                <i class="fa-light fa-circle-chevron-right"></i>
                SCHOOLS OFFERING THIS COURSE: 
            </p>
        </div>
        <div class="row">
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow h-100">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <a href="/st_scho_brt.html"><img src="static/assets/img/school logo/SS.png" ></a>
                            </div>
                            <div class="d-sm-none">
                                <a href="/st_scho_brt.html" class="card-link"><h2>St. Scho</h2></a>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <a href="/st_scho_brt.html" class="card-link"><h4>St. Scholastica's College Tacloban</h4></a>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">  
                                <svg class="icon icon-xxs text-gray-500 ms-2 me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>
                                Fatima Village, Palo, Leyte
                            </small> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow h-100">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <a href="/hic_bsrt.html"> <img src="static/assets/img/school logo/HIC.png" ></a>
                            </div>
                            <div class="d-sm-none">
                                <a href="/hic_bsrt.html" class="card-link"><h2>HIC</h2></a>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <a href="/hic_bsrt.html" class="card-link"><h4>Holy Infant College</h4></a>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">  
                                <svg class="icon icon-xxs text-gray-500 ms-2 me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>
                                6XJW+5R6, Benigno Aquino St, Tacloban City, Leyte
                            </small> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
