
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
          
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <a href="/ph_courses.html"><button type="button" class="btn-close" aria-label="Close"></button></a>
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                  
                </div>
            </div>
            <table class="table table-hover tab">                  
                <thead>
                    <h2 class="font-weight-bold text-secondary">Bachelor or Science in Agribusiness</h2>
                </thead>
                
                    <p>
                        <i class="fa-light fa-circle-chevron-right"></i>
                        DURATION: <span class="text-secondary h5">4 Years</span>
                    </p>
               
            </table><br>
            <h3>Program Overview</h3>
            <p> &nbsp  &nbsp The BACHELOR OF SCIENCE IN AGRIBUSINESS (BSAB) is a four-year degree program designed to prepare students for careers in the nation’s growing agribusiness sector which provides the products and services for the production, processing and distribution of food and fiber. With the potential for expanded export opportunities, the need for graduates for agribusiness positions is increasing.

                The agribusiness program combines the general education requirements of a degree in business with coursework emphasizing the understanding of the unique institutional and managerial challenges facing agribusiness firms, Students integrate business management principles with technical knowledge to develop practical decision-making skills.</p>
                <p>
                    <i class="fa-light fa-circle-chevron-right"></i>
                    SCHOOLS THAT OFFERING THIS COURSE: <span class="text-secondary h5">N/A</span><br>
                    
                </p>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
