
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
          
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <a href="/ph_courses.html"><button type="button" class="btn-close" aria-label="Close"></button></a>
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                  
                </div>
            </div>
            <table class="table table-hover tab">                  
                <thead>
                    <h2 class="font-weight-bold text-secondary">Bachelor or Science in Architecture</h2>
                </thead>
                
                    <p>
                        <i class="fa-light fa-circle-chevron-right"></i>
                        DURATION: <span class="text-secondary h5">4 Years</span>
                    </p>
               
            </table><br>
            <h3>Program Overview</h3>
            <p> &nbsp  &nbsp &nbsp Bachelor in Landscape Architecture is the art of planning, designing, maintaining, rehabilitating and preserving the green space and design of man-made constructions. Landscape Architecture studies focus on topics such as architectural design, site planning, living space design, urban planning, urban design, park planning, regional planning, and historic preservation. This discipline continues to create innovative solutions to current issues related to green space aesthetics of roads, parks and gardens. Programmes reunite numerous elements from others disciplines including: botany, climatology, topography and floriculture.
                <br><br>
                &nbsp  &nbsp &nbsp Landscape Architecture studies cover topics such as: plants and their applications, digital landscape graphics, social factors in environmental design, cultural landscape, technical drawing, history of public spaces.
                Students of Landscape Architecture develop skills in aesthetic sensitivity and environmental awareness, as well as creativity in emphasizing the practical applications of design solutions. A landscape architect requires an in-depth knowledge of Biology, Geography, as well as of the main characteristics of soil and air masses.
                Landscape Architecture graduates follow careers in lawn administration, maintenance and recondition of green areas. They may work as urban planners, landscape architects, cartographers, floriculture consultants, and more.</p>
                <p>
                    <i class="fa-light fa-circle-chevron-right"></i>
                    SCHOOLS THAT OFFERING THIS COURSE: <span class="text-secondary h5">N/A</span><br>
                    
                </p>
            </div>
        </di>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
