
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
          
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <a href="/ph_courses.html"><button type="button" class="btn-close" aria-label="Close"></button></a>
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                  
                </div>
            </div>
            <table class="table table-hover tab">                  
                <thead>
                    <h2 class="font-weight-bold text-secondary">Bachelor or Science in Agriculture</h2>
                </thead>
                
                    <p>
                        <i class="fa-light fa-circle-chevron-right"></i>
                        DURATION: <span class="text-secondary h5">4 Years</span>
                    </p>
               
            </table><br>
            <h3>Program Overview</h3>
            <p> &nbsp  &nbsp &nbsp The Bachelor of Science in Agriculture (BSA) is a four-year degree program designed to provide students with the technical knowledge in crop raising, agricultural chemicals, fertilizers, integrated pest management, seed conditioning and technology and other areas related to production and quality control in the food and fiber industry. It also teaches students about livestock raising and managing a farm and agribusiness. The BS in Agriculture program helps students understand modern farming by teaching them the process and techniques in identifying, diagnosing, and analyzing problems and in designing, packaging, and applying technologies needed in the development and conservation of agriculture and food system resources.<br><br>
                &nbsp  &nbsp &nbsp Students who satisfactorily completed the first two years shall be awarded the Certificate of Agriculture Science (CAS) which the students may use for immediate employment or application for TESDA Skills Certification subject to the requirements of the specific TESDA Training Regulation being applied for.</p>
                <p>
                    <i class="fa-light fa-circle-chevron-right"></i>
                    SCHOOLS THAT OFFERING THIS COURSE: <span class="text-secondary h5">N/A</span><br>
                    
                </p>
            </div>  
 </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
