
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
          
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <a href="/ph_courses.html"><button type="button" class="btn-close" aria-label="Close"></button></a>
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                  
                </div>
            </div>
            <table class="table table-hover tab">                  
                <thead>
                    <h2 class="font-weight-bold text-secondary">Bachelor of Science in Chemical Engineering (BSCerE)</h2>
                </thead>
                
                    <p>
                        <i class="fa-light fa-circle-chevron-right"></i>
                        DURATION: <span class="text-secondary h5">4-5 Years</span>
                    </p>
               
            </table><br>
                     <h3>Program Overview</h3>
                     <p> &nbsp  &nbsp The Bachelor of Science in Chemical Engineering is program that equips students with an understanding of both engineering and chemical principles. It also develops proficiency in the design, development, operation, and management of industrial processes. The program develops the students’ skills in analyzing chemical processes, designing effective laboratory experiments to test hypotheses, and interpreting data.</p>
                    
                     <p>
                        <i class="fa-light fa-circle-chevron-right"></i>
                        SCHOOLS OFFERING THIS COURSE:
                    </p>
            </div>
                <div class="col-12 col-sm-6 col-xl-4 mb-4">
                    <div class="card border-0 shadow h-100">
                        <div class="card-body">
                             <div class="row d-block d-xl-flex align-items-center">
                                 <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                     <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                    <a href="/evsu_bschem.html"> <img src="static/assets/img/school logo/EVSU.png" ></a>
                                    </div>
                                <div class="d-sm-none">
                                    <a href="/evsu_bschem.html" class="card-link"><h2>EVSU</h2></a>
                                    <h2 class="h5">Courses</h2>
                                    <h3 class="fw-extrabold mb-1">49</h3>
                                </div>
                                 </div>
                            <div class="col-12 col-xl-7 px-xl-0">
                                <div class="d-none d-sm-block">
                                    <a href="/evsu_bschem.html" class="card-link"><h4>Eastern Visayas State University</h4></a>
                                </div>
                                <small class="d-flex align-items-center text-gray-500">  
                                    <svg class="icon icon-xxs text-gray-500 ms-2 me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>
                                    6XRW+3W9, Salazar St, Downtown, Tacloban City, Leyte, Philippines
                                </small> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
