
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <a href="/ph_courses.html"><button type="button" class="btn-close" aria-label="Close"></button></a>
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                  
                </div>
            </div>
            <table class="table table-hover tab">                  
                <thead>
                    <h2 class="font-weight-bold text-secondary">Bachelor or Science in Business Administration major in Marketing Management</h2>
                </thead>
                
                    <p>
                        <i class="fa-light fa-circle-chevron-right"></i>
                        DURATION: <span class="text-secondary h5">4 Years</span>
                    </p>
               
            </table><br>
            <h3>Program Overview</h3>
            <p> &nbsp  &nbsp &nbspThe BSBA in Marketing Management is a four-year program designed to equip students with the knowledge and skills effective for marketing and sales strategies; how a company determines what product or service to sell, how customers and markets are delineated into target demographics and the methods of reaching them.  <br> <br>
                &nbsp  &nbsp &nbsp The course also focuses on strategic marketing issues that marketing managers assess before findings are presented to their executives. By learning to be an effective marketer and manager, you will learn to respond to the demands of competitors, the government, and larger social issues. Among the concepts and theories that will be discussed are sales management, brand, distribution, e-commerce, franchising, retailing, information technology, and corporate social responsibility. </p>
                <p>
                    <i class="fa-light fa-circle-chevron-right"></i>
                    SCHOOLS THAT OFFERING THIS COURSE: <span class="text-secondary h5">N/A</span><br>
                    
                </p>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
