{% extends "layouts/base.html" %}

{% block title %} EVSU {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<section style="background-color: #eee;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 mb-4">
            <div class="card text-black">
                <div class="icon-shape-logo icon-shape-primary  mx-auto mt-4">
                    <img src="static/assets/img/school logo/cap_ph_logo.png" >
                </div>
            <div class="card-body">
              <div class="text-center">
                <h1 class="card-title font-weight-bold">Courses Offered in the Philippines</h1>
                <p class="text-muted mb-4">The following list are the offered Bachelors Degree Courses in many (SUC's) State Universities and Colleges and (LUC's) Local Universities and Colleges Nationwide</p>
              </div>
              <div class="card card-body border-0 shadow table-wrapper table-responsive">
                <table class="table table-hover tab">                  
                    <thead>
                        <h2 class="font-weight-bold">Courses List</h2>
                    </thead>
                    <tbody>
                        <!-- Item -->                        
                        <tr class='clickable-row' data-href='ph_bsche.html'><td><a href="ph_bsche.html">Bachelor of Science in Chemical Engineering (BSChE)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsce.html'><td><a href="ph_bsce.html">Bachelor of Science in Civil Engineering (BSCE)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bscome.html'><td><a href="ph_bscome.html">Bachelor of Science in Computer Engineering (BSCpE)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsee.html'><td><a href="ph_bsee.html">Bachelor of Science in Electrical Engineering (BSEE)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsece.html'><td><a href="ph_bsece.html">Bachelor of Science in Electronics and Communications Engineering (BSECE)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsge.html'><td><a href="ph_bsge.html">Bachelor of Science in Geodetic Engineering (BSGE)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsgeoe.html'><td><a href="ph_bsgeoe.html">Bachelor of Science in Geological Engineering (BSGeoE)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsmare.html'><td><a href="ph_bsmare.html">Bachelor of Science in Marine Engineering in (BSMarE)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsmate.html'><td><a href="ph_bsmate.html">Bachelor of Science in Materials Engineering (BSMatE)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsme.html'><td><a href="ph_bsme.html">Bachelor of Science in Mechanical Engineering (BSME)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsmete.html'><td><a href="ph_bsmete.html">Bachelor of Science in Metallurgical Engineering (BSMetE)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsmie.html'><td><a href="ph_bsmie.html">Bachelor of Science in Mining Engineering (BSEM)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bspe.html'><td><a href="ph_bspe.html">Bachelor of Science in Petroleum Engineering (BSPetE)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsse.html'><td><a href="ph_bsse.html">Bachelor of Science in Sanitary Engineering (BSSE)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsie.html'><td><a href="ph_bsie.html">Bachelor of Science in Industrial Engineering (BSIE)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsarch.html'><td><a href="ph_bsarch.html">Bachelor of Science in Architecture (BS Architecture)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bla.html'><td><a href="ph_bla.html">Bachelor in Landscape Architecture (BLA)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsid.html'><td><a href="ph_bsid.html">Bachelor of Science in Interior Design (BS Interior Design)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bscomsci.html'><td><a href="ph_bscomsci.html">Bachelor of Science in Computer Science (BSCS)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsit.html'><td><a href="ph_bsit.html">Bachelor of Science in Information Technology (BSIT)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsis.html'><td><a href="ph_bsis.html">Bachelor of Science in Information Systems (BSIS)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsa.html'><td><a href="ph_bsa.html">Bachelor of Science in Accountancy (BSA)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsat.html'><td><a href="ph_bsat.html">Bachelor of Science in Accounting Technology (BSAcT)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_abbroad.html'><td><a href="ph_abbroad.html">Bachelor of Arts in Broadcasting (AB Broadcasting)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_abcomm.html'><td><a href="ph_abcomm.html">Bachelor of Arts in Communication (AB Communication)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsdcomm.html'><td><a href="ph_bsdcomm.html">Bachelor of Science in Development Communication (BS DevComm)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_abjour.html'><td><a href="ph_abjour.html">Bachelor of Arts in Journalism (AB Journalism)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_abmasscomm.html'><td><a href="ph_abmasscomm.html">Bachelor of Arts in Mass Communication</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bseco.html'><td><a href="ph_bseco.html">Bachelor of Science in Economics (BS Economics)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_abpsy.html'><td><a href="ph_abpsy">Bachelor of Arts in Psychology (AB Psychology)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bspsy.html'><td><a href="ph_bspsy.html">Bachelor of Science in Psychology (BS Psychology)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bscrim.html'><td><a href="ph_bscrim.html">Bachelor of Science in Criminology (BS Criminology)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_abps.html'><td><a href="ph_abps.html">Bachelor of Arts in Political Science (AB Political Science)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_abeng.html'><td><a href="ph_abeng.html">Bachelor of Arts in English (AB English)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_abling.html'><td><a href="ph_abling">Bachelor of Arts in Linguistics (AB Linguistics)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_ablit'><td><a href="ph_ablit">Bachelor of Arts in Literature (AB Literature)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_abanthro.html'><td><a href="ph_abanthro.html">Bachelor of Arts in Anthropology (AB Anthropology)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_absocio.html'><td><a href="ph_absocio">Bachelor of Arts in Sociology (AB Sociology)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_abfil.html'><td><a href="ph_abfil.html">Bachelor of Arts in Filipino (AB Filipino)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsfs.html'><td><a href="ph_bsfs.html">Bachelor of Science in Forensic Science (BSFS)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_abislam.html'></tr><td><a href="ph_abislam.html">Bachelor of Arts in Islamic Studies (AB Islamic Studies)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bses.html'><td><a href="ph_bses">Bachelor of Science in Environmental Science (BSES)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsfrs.html'><td><a href="ph_bsfrs">Bachelor of Science in Forestry (BS Forestry)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsfi.html'><td><a href="ph_bsfi.html">Bachelor of Science in Fisheries (BSFi)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsg.html'><td><a href="ph_bsg.html">Bachelor of Science in Geology (BS Geology)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsbio.html'><td><a href="ph_bsbio.html">Bachelor of Science in Biology (BS Biology)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_molbio'><td><a href="ph_molbio">Bachelor of Science in Molecular Biology (BS Molecular Biology)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsphy'><td><a href="ph_bsphy.html">Bachelor of Science in Physics (BS Physics)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_apphy.html'><td><a href="ph_apphy.html">Bachelor of Science in Applied Physics (BS Applied Physics)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bschem.html'><td><a href="ph_bschem">Bachelor of Science in Chemistry (BS Chemistry)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsmath.html'><td><a href="ph_bsmath.html">Bachelor of Science in Mathematics (BS Mathematics)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsamath.html'><td><a href="ph_bsamath.html">Bachelor of Science in Applied Mathematics (BS Applied Math)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsstat.html'><td><a href="ph_bsstat.html">Bachelor of Science in Statistics (BS Stat)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsag.html'><td><a href="ph_bsag.html">Bachelor of Science in Agriculture</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsagrib.html'><td><a href="ph_bsagrib.html">Bachelor of Science in Agribusiness (BS Agribusiness)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsagro.html'><td><a href="ph_ab_bsagro.html">Bachelor of Science in Agroforestry (BS Agroforestry)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsba.html'><td><a href="ph_bsba.html">Bachelor of Science in Business Administration</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsbabe.html'><td><a href="ph_bsbabe.html">Bachelor of Science in Business Administration Major in Business Economics (BSBA)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsbafm.html'><td><a href="ph_bsbafm.html">Bachelor of Science in Business Administration Major in Financial Management (BSBA major in FM)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsbahrd.html'><td><a href="ph_bsbahrd.html">Bachelor of Science in Business Administration Major in Human Resource Development (BSBA major in HRDM)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsbamm.html'><td><a href="ph_bsbamm.html">Bachelor of Science in Business Administration Major in Marketing Management (BSBA major in MM)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsbaom.html'><td><a href="ph_bsbaom.html">Bachelor of Science in Business Administration Major in Operations Management (BSBA major in OM)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bshrm.html'><td><a href="ph_bshrm.html">Bachelor of Science in Hotel and Restaurant Management (BS HRM)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsentrep.html'><td><a href="ph_bsentrep.html">Bachelor of Science in Entrepreneurship (BS Entrep)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsoa.html'><td><a href="ph_bsoa.html">Bachelor of Science in Office Administration (BSOA)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsrem.html'><td><a href="ph_bsrem.html">Bachelor of Science in Real Estate Management (BS REM)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bstm.html'><td><a href="ph_bstm.html">Bachelor of Science in Tourism Management (BSTM)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsmt.html'><td><a href="ph_bsmt.html">Bachelor of Science in Medical Technology (BS Med Tech)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsmid.html'><td><a href="ph_bsmid.html">Bachelor of Science in Midwifery (BS Midwifery)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsn.html'><td><a href="ph_bsn.html">Bachelor of Science in Nursing (BSN)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsot.html'><td><a href="ph_bsot.html">Bachelor of Science in Occupational Therapy (BSOT)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsphar.html'><td><a href="ph_bsphar.html">Bachelor of Science in Pharmacy (BS Pharmacy)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bspt.html'><td><a href="ph_bspt.html">Bachelor of Science in Physical Therapy (BSPT)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsnd.html'><td><a href="ph_bsnd.html">Bachelor of Science in Nutrition and Dietetics (BS Nutrition and Dietetics)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsrt.html'><td><a href="ph_bsrt.html">Bachelor of Science in Radiologic Technology (BS Rad Tech)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsrethe.html'><td><a href="ph_bsrethe.html">Bachelor of Science in Respiratory Therapy (BSRT)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsslp.html'><td><a href="ph_bsslp.html">Bachelor of Science in Speech-Language Pathology</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsss.html'><td><a href="ph_bsss.html">Bachelor of Science in Sports Science</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsed.html'><td><a href="ph_bsed.html">Bachelor in Secondary Education (BSED)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_beed.html'><td><a href="ph_beed.html">Bachelor in Elementary Education (BEED)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsedtle.html'><td><a href="ph_bsedtle.html">Bachelor in Secondary Education Major in Technology and Livelihood Education (BSED)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsedbs.html'><td><a href="ph_bsedbs.html">Bachelor in Secondary Education Major in Biological Sciences (BSED)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsede.html'><td><a href="ph_bsede.html">Bachelor in Secondary Education Major in English (BSED)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsedf.html'><td><a href="ph_bsedf.html">Bachelor in Secondary Education Major in Filipino (BSED)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsedmath.html'><td><a href="ph_bsedmath.html">Bachelor in Secondary Education Major in Mathematics (BSED)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsedis.html'><td><a href="ph_bsedis.html">Bachelor in Secondary Education Major in Islamic Studies (BSED)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsedmapeh.html'><td><a href="ph_bsedmapeh.html">Bachelor in Secondary Education Major in Music, Arts, Physical and Health Education (BSED)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsedps.html'><td><a href="ph_bsedps.html">Bachelor in Secondary Education Major in Physical Sciences (BSED)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsedss.html'><td><a href="ph_bsedss.html">Bachelor in Secondary Education Major in Social Studies (BSED)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsedve.html'><td><a href="ph_bsedve.html">Bachelor in Secondary Education Major in Values Education (BSED)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_beedpreed.html'><td><a href="ph_beedpreed.html">Bachelor in Elementary Education Major in Preschool Education (BEED)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_beedsped.html'><td><a href="ph_beedsped.html">Bachelor in Elementary Education Major in Special Education (BEED)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_blis.html'><td><a href="ph_blis.html">Bachelor of Library and Information Science in the Philippines (BLIS)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bpe.html'><td><a href="ph_bpe.html">Bachelor of Science in Education major in Physical Education</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsaeroe.html'><td><a href="ph_bsaeroe.html">Bachelor of Science in Aeronautical Engineering (BS AeroE)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bscere.html'><td><a href="ph_bscere.html">Bachelor of Science in Ceramic Engineering (BSCerE)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bscomde.html'><td><a href="ph_bscomde.html">Bachelor of Science in Community Development(BS Community Development)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsca.html'><td><a href="ph_bsca.html">Bachelor of Science in Customs Administration (BSCA)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsfs.html'><td><a href="ph_bsfs.html">Bachelor of Science in Foreign Service (BS Foreign Service)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsinters.html'><td><a href="ph_bsinters.html">Bachelor of Arts in International Studies(BSIS)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bpa.html'><td><a href="ph_bpa.html">Bachelor of Public Administration (BPA)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bspus.html'><td><a href="ph_bspus.html">Bachelor of Science in Public Safety (BSPS)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bssw.html'><td><a href="ph_bssw.html">Bachelor of Science in Social Work (BS Social Work)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsmartra.html'><td><a href="ph_bsmartra.html">Bachelor of Science in Marine Transportation (BSMT)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bsfoodtech.html'><td><a href="ph_bsfoodtech.html">Bachelor of Science in Food Technology (BS Food Tech)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_ab_history.html'><td><a href="ph_ab_history.html">Bachelor of Arts in History (AB History)</a></td></tr>    
                        <tr class='clickable-row' data-href='ph_ab_philosophy.html'><td><a href="ph_ab_philosophy.html">Bachelor of Arts in Philosophy (AB Philosophy)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bfa.html'><td><a href="ph_bfa.html">Bachelor of Fine Arts Major in Industrial Design (BFA)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bfap.html'><td><a href="ph_bfap.html">Bachelor of Fine Arts Major in Painting (BFA)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bfas.html'><td><a href="ph_bfas.html">Bachelor of Fine Arts Major in Sculpture (BFA)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_bfav.html'><td><a href="ph_bfav.html">Bachelor of Fine Arts Major in Visual Communication (BFA)</a></td></tr>
                        <tr class='clickable-row' data-href='ph_abe.html'><td><a href="ph_abe.html">Bachelor of Arts in Economics (AB Economics)</a></td></tr>
                    </tbody>
                </table>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
