{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
          
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            
            <a href="/index.html"><button type="button" class="btn-close" aria-label="Close"></button></a>
            <div class="card-body">
                <h1>A LITTLE BIT OF HISTORY</h1>
                 
                <div id="quiz"></div>
                <button id="submit">Get Results</button>   <a href="/quiz2.html"><button id="submit">&nbsp; &nbsp; NEXT &nbsp; &nbsp;</button></a>
                <div id="results"></div>
                
                        
       
            </div>
            <!-- <ul class="quiz">
                <li>
                    <h4>Where is San Juanico bridge located?</h4>
                    <ul class="choices">
                        <li>
                            <label
                                ><input type="radio" name="question0" value="A" /><span
                                    >Cebu</span
                                ></label
                            >
                        </li>
                        <li>
                            <label
                                ><input type="radio" name="question0" value="B" /><span
                                    >Palawan</span
                                ></label
                            >
                        </li>
                        <li>
                            <label
                                ><input type="radio" name="question0" value="C" /><span
                                    >Leyte-Samar</span
                                ></label
                            >
                        </li>
                        <li>
                            <label
                                ><input type="radio" name="question0" value="D" /><span
                                    >Bohol</span
                                ></label
                            >
                        </li>
                    </ul>
                </li>
                <li>
                    <h4>What is the capital City of Philippines"?</h4>
                    <ul class="choices">
                        <li>
                            <label
                                ><input type="radio" name="question1" value="A" /><span
                                    >Manila</span
                                ></label
                            >
                        </li>
                        <li>
                            <label
                                ><input type="radio" name="question1" value="B" /><span
                                    >Cebu</span
                                ></label
                            >
                        </li>
                        <li>
                            <label
                                ><input type="radio" name="question1" value="C" /><span
                                    >Davao</span
                                ></label
                            >
                        </li>
                        <li>
                            <label
                                ><input type="radio" name="question1" value="D" /><span
                                    >Tacloban</span
                                ></label
                            >
                        </li>
                    </ul>
                </li>
                <li>
                    <h4>How many letters are there in "A"?</h4>
                    <ul class="choices">
                        <li>
                            <label
                                ><input type="radio" name="question2" value="A" /><span
                                    >2</span
                                ></label
                            >
                        </li>
                        <li>
                            <label
                                ><input type="radio" name="question2" value="B" /><span
                                    >1</span
                                ></label
                            >
                        </li>
                        <li>
                            <label
                                ><input type="radio" name="question2" value="C" /><span
                                    >3</span
                                ></label
                            >
                        </li>
                        <li>
                            <label
                                ><input type="radio" name="question2" value="D" /><span
                                    >4</span
                                ></label
                            >
                        </li>
                    </ul>
                </li>
            </ul>
            <button class="view-results" onclick="returnScore()">View Results</button>
            <span id="myresults" class="my-results">My results will appear here</span>
        </div> -->
        
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{{ config.ASSETS_ROOT }}/js/quiz2.js"></script>
{% endblock javascripts %}
