{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
          
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <a href="/rtr_courses.html"><button type="button" class="btn-close" aria-label="Close"></button></a>
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape2 icon-shape-primary rounded me-4 me-sm-0">
                            <a href="/rtr_courses.html"> <img src="static/assets/img/school logo/SS.png" ></a>
                        </div>
                        <div class="d-sm-none">
                            <a href="/rtr_courses.html" class="card-link"><h2>RTR</h2></a>
                            <h2 class="h5">Histology</h2>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <a href="/rtr_courses.html" class="card-link"><h1>Remedios Trinidad Romualdez Medical Foundation</h1></a>
                        </div>
                        <small class="d-flex align-items-center text-gray-500">  
                            
                            Address: Calanipawan Rd, Tacloban City, Leyte
                        </small> 
                    </div>
                </div>
            </div>
            <table class="table table-hover tab">                  
                <thead>
                    <h2 class="font-weight-bold text-secondary">Histology</h2>
                </thead>
                
                    <p>
                        <i class="fa-light fa-circle-chevron-right"></i>
                        DURATION: <span class="text-secondary h5">2 Years </span>
                    </p>
               
            </table><br>
            <h3>Program Overview</h3>
            <p>&nbsp &nbsp &nbsp Histology is the branch of biology that focuses on the study of living tissues. In medicine, histology is narrowed down to the study of human tissues in their normal state and is categorized based on organ systems.<BR><BR>
                &nbsp &nbsp &nbspThe study of tissues requires a specific set of techniques aimed at achieving adequate visualization of their components. These techniques include adequate harvesting, preservation, cutting, staining, and mounting of samples for microscopy. Furthermore, histology employs an intricate nomenclature to describe tissues according to their characteristics. Similar techniques and microscopy are used in pathology to study tissue abnormalities during disease processes.
                <BR><BR>
                    &nbsp &nbsp &nbspFor this course, the student should be familiar with the biochemistry of cells, specifically organelles and the biomolecules that make them up, to understand how dyes interact with various cellular components to enhance their visibility and identification.
                <BR><BR>
                    &nbsp &nbsp &nbspHistology involves attentive and deliberate observation to understand the basic structure of tissues and the ability to recognize them at a glance. This field provides another aspect of the complete picture of normal human physiology, which will later allow students to understand disease processes, especially those that require pathological examination for a definitive diagnosis (e.g., cancers). </p>

            <p>
                <i class="fa-light fa-circle-chevron-right"></i>
                ADMISSION REQUIREMENTS:
            </p>
            <div>
                <div id="this1" class="form-check form-check-inline">
                   
                    <u><label class="form1" for="inlineRadio1"><u>Freshmen</label></u></u>
                  </div>
                  |
                  <div id="this1" class="form-check form-check-inline">
                    
                    <label class="form1" for="inlineRadio2"><u>Transferee</u></label>
                  </div>

             <div class="msgbox"></div>
            </div><br>
            <p>
                <i class="fa-light fa-circle-chevron-right"></i>
                TUITION FEE: <span class="text-secondary h5">Php 25,000 per sem </span><br>
                
            </p>
</div>

        
            
        
 </div>
                
           
        
        
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-0 shadow">
                       
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="col-12 px-0 mb-4">
                <div class="card border-0 shadow">
                        
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
