{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow h-100">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <a href="/evsu_courses.html"> <img src="static/assets/img/school logo/EVSU.png" ></a>
                            </div>
                            <div class="d-sm-none">
                                <a href="/evsu_courses.html" class="card-link"><h2>EVSU</h2></a>
                                <h2 class="h5">Courses</h2>
                                <h3 class="fw-extrabold mb-1">49</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <a href="/evsu_courses.html" class="card-link"><h4>Eastern Visayas State University</h4></a>
                                <h2 class="h6 text-gray-400 mb-0">Courses</h2>
                                <h3 class="fw-extrabold mb-2">49</h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">  
                                <svg class="icon icon-xxs text-gray-500 ms-2 me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>
                                6XRW+3W9, Salazar St, Downtown, Tacloban City, Leyte, Philippines
                            </small> 
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow h-100">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <a href="/lnu_courses.html"><img src="static/assets/img/school logo/LNU.png" ></a>
                            </div>
                            <div class="d-sm-none">
                                <a href="/settings.html" class="card-link"><h2>LNU</h2></a>
                                <h2 class="h5">Courses</h2>
                                <h3 class="fw-extrabold mb-1">15</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <a href="/lnu_courses.html" class="card-link"><h4>LEYTE NORMAL UNIVERSITY</h4></a>
                                <h2 class="h6 text-gray-400 mb-0">Courses</h2>
                                <h3 class="fw-extrabold mb-2">15</h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">  
                                <svg class="icon icon-xxs text-gray-500 ms-2 me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>
                                Paterno St, Downtown, Tacloban City, 6500 Leyte
                            </small> 
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow h-100">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                 <a href="/adfc_courses.html"> <img src="static/assets/img/school logo/ASIAN.png" ></a>
                            </div>
                            <div class="d-sm-none">
                                <a href="/adfc_courses.html" class="card-link"><h2>ASIAN</h2></a>
                                <h2 class="h5">Courses</h2>
                                <h3 class="fw-extrabold mb-1">25</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <a href="/adfc_courses.html" class="card-link"><h4>ASIAN Developement Foundation College</h4></a>
                                <h2 class="h6 text-gray-400 mb-0">Courses</h2>
                                <h3 class="fw-extrabold mb-2">26</h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">  
                                <svg class="icon icon-xxs text-gray-500 ms-2 me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>
                                BLISS Sagkahan, Tacloban City, Tacloban City, Leyte
                            </small> 
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow h-100">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <a href="/abe_courses.html"> <img src="static/assets/img/school logo/ABE.png" ></a>
                            </div>
                            <div class="d-sm-none">
                                <a href="/abe_courses.html" class="card-link"><h2>ABE</h2></a>
                                <h2 class="h5">Courses</h2>
                                <h3 class="fw-extrabold mb-1">11</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <a href="/abe_courses.html" class="card-link"><h4>ABE Intl. Business College</h4></a>
                                <h2 class="h6 text-gray-400 mb-0">Courses</h2>
                                <h3 class="fw-extrabold mb-2">4</h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">  
                                <svg class="icon icon-xxs text-gray-500 ms-2 me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>
                                164 Avenida Veteranos, Downtown, Tacloban City, 6500 Leyte
                            </small> 
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow h-100">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <a href="/ama_courses.html"> <img src="static/assets/img/school logo/AMA.png" ></a>
                            </div>
                            <div class="d-sm-none">
                                <a href="/ama_courses.html" class="card-link"><h2>AMA</h2></a>
                                <h2 class="h5">Courses</h2>
                                <h3 class="fw-extrabold mb-1">4</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <a href="/ama_courses.html" class="card-link"><h4>AMA Computer College</h4></a>
                                <h2 class="h6 text-gray-400 mb-0">Courses</h2>
                                <h3 class="fw-extrabold mb-2">6</h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">  
                                <svg class="icon icon-xxs text-gray-500 ms-2 me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>
                                No. 104 Avenida Veteranos, Downtown, Tacloban City, 6500 Leyte
                            </small> 
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow h-100">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <a href="/lc_courses.html"> <img src="static/assets/img/school logo/LC.png" ></a>
                            </div>
                            <div class="d-sm-none">
                                <a href="/lc_courses.html" class="card-link"><h2>LC</h2></a>
                                <h2 class="h5">Courses</h2>
                                <h3 class="fw-extrabold mb-1">6</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <a href="/lc_courses.html" class="card-link"><h4>Leyte Colleges</h4></a>
                                <h2 class="h6 text-gray-400 mb-0">Courses</h2>
                                <h3 class="fw-extrabold mb-2">6</h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">  
                                <svg class="icon icon-xxs text-gray-500 ms-2 me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>
                                Brgy. 46 Paterno Street, Tacloban City, Philippines
                            </small> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow h-100">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <a href="/hic_courses.html"> <img src="static/assets/img/school logo/HIC.png" ></a>
                            </div>
                            <div class="d-sm-none">
                                <a href="/hic_courses.html" class="card-link"><h2>HIC</h2></a>
                                <h2 class="h5">Courses</h2>
                                <h3 class="fw-extrabold mb-1">11</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <a href="/hic_courses.html" class="card-link"><h4>Holy Infant College</h4></a>
                                <h2 class="h6 text-gray-400 mb-0">Courses</h2>
                                <h3 class="fw-extrabold mb-2">11</h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">  
                                <svg class="icon icon-xxs text-gray-500 ms-2 me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>
                                6XJW+5R6, Benigno Aquino St, Tacloban City, Leyte
                            </small> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow h-100">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <a href="/hvsf_courses.html"> <img src="static/assets/img/school logo/HV.png" ></a>
                            </div>
                            <div class="d-sm-none">
                                <a href="/hvsf_courses.html" class="card-link"><h2>HVSFCI</h2></a>
                                <h2 class="h5">Courses</h2>
                                <h3 class="fw-extrabold mb-1">4</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <a href="/hvsf_courses.html" class="card-link"><h4>Holy Virgin Of Salvacion Foundation College Inc.</h4></a>
                                <h2 class="h6 text-gray-400 mb-0">Courses</h2>
                                <h3 class="fw-extrabold mb-2">4</h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">  
                                <svg class="icon icon-xxs text-gray-500 ms-2 me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>
                                6267+2VC, Picas - San Jose DZR Airport Rd, Tacloban City, Leyte
                            </small> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow h-100">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <a href="/jemcc_courses.html"> <img src="static/assets/img/school logo/JM.png" ></a>
                            </div>
                            <div class="d-sm-none">
                                <a href="/jemcc_courses.html" class="card-link"><h2>JMCC</h2></a>
                                <h2 class="h5">Courses</h2>
                                <h3 class="fw-extrabold mb-1">3</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <a href="/jemcc_courses.html" class="card-link"><h4>Je Mondejar Computer College</h4></a>
                                <h2 class="h6 text-gray-400 mb-0">Courses</h2>
                                <h3 class="fw-extrabold mb-2">3</h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">  
                                <svg class="icon icon-xxs text-gray-500 ms-2 me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>
                                Naga-Naga, Tacloban, 6500 Hilagang Leyte
                            </small> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow h-100">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <a href="/rtr_courses.html"><img src="static/assets/img/school logo/RTR.png" ></a>
                            </div>
                            <div class="d-sm-none">
                                <a href="/rtr_courses.html" class="card-link"><h2>RTR</h2></a>
                                <h2 class="h5">Courses</h2>
                                <h3 class="fw-extrabold mb-1">19</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <a href="/rtr_courses.html" class="card-link"><h4>Remedios Trinidad Romualdez Medical Foundation</h4></a>
                                <h2 class="h6 text-gray-400 mb-0">Courses</h2>
                                <h3 class="fw-extrabold mb-2">19</h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">  
                                <svg class="icon icon-xxs text-gray-500 ms-2 me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>
                                Calanipawan Rd, Tacloban City, Leyte
                            </small> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow h-100">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <a href="/st_scho_courses.html"><img src="static/assets/img/school logo/SS.png" ></a>
                            </div>
                            <div class="d-sm-none">
                                <a href="/st_scho_courses.html" class="card-link"><h2>St. Scho</h2></a>
                                <h2 class="h5">Courses</h2>
                                <h3 class="fw-extrabold mb-1">4</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <a href="/st_scho_courses.html" class="card-link"><h4>St. Scholastica's College Tacloban</h4></a>
                                <h2 class="h6 text-gray-400 mb-0">Courses</h2>
                                <h3 class="fw-extrabold mb-2">4</h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">  
                                <svg class="icon icon-xxs text-gray-500 ms-2 me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>
                                Fatima Village, Palo, Leyte
                            </small> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow h-100">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <a href="/aclc_courses.html"><img src="static/assets/img/school logo/ACLC.png" ></a>
                            </div>
                            <div class="d-sm-none">
                                <a href="/aclc_courses.html" class="card-link"><h2>ACLC</h2></a>
                                <h2 class="h5">Courses</h2>
                                <h3 class="fw-extrabold mb-1">5</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <a href="/aclc_courses.html" class="card-link"><h4>ACLC College Tacloban</h4></a>
                                <h2 class="h6 text-gray-400 mb-0">Courses</h2>
                                <h3 class="fw-extrabold mb-2">5</h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">  
                                <svg class="icon icon-xxs text-gray-500 ms-2 me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>
                                352 Real St. Tacloban City 6500 Tacloban City
                            </small> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow h-100">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <a href="/up_courses.html"><img src="static/assets/img/school logo/UP.png" ></a>
                            </div>
                            <div class="d-sm-none">
                                <a href="/up_courses.html" class="card-link"><h2>UP</h2></a>
                                <h2 class="h5">Courses</h2>
                                <h3 class="fw-extrabold mb-1">10</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <a href="/up_courses.html" class="card-link"><h4>University of the Philippines Visayas Tacloban College</h4></a>
                                <h2 class="h6 text-gray-400 mb-0">Courses</h2>
                                <h3 class="fw-extrabold mb-2">10</h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">  
                                <svg class="icon icon-xxs text-gray-500 ms-2 me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>
                                Magsaysay Blvd, Downtown, Tacloban City, Leyte
                            </small> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-0 shadow">
                       
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="col-12 px-0 mb-4">
                <div class="card border-0 shadow">
                        
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
