{% extends "layouts/base.html" %}

{% block title %} EVSU {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-12 mb-4">
            <div class="card text-black">
                <div class="icon-shape-logo icon-shape-primary  mx-auto mt-4">
                    <img src="static/assets/img/school logo/sti.png" >
                </div>
            <div class="card-body">
              <div class="text-center">
                <h1 class="card-title font-weight-bold">STI Computer College</h1>
                <p class="text-muted mb-4">Address: Magsaysay Blvd., Fatima Village, Tacloban City, Leyte</p>
                <br>
              </div>
              <div class="card card-body border-0 shadow table-wrapper table-responsive">
                <table class="table table-hover tab">                  
                    <thead>
                        <h2 class="font-weight-bold">Courses Offered</h2>
                    </thead>
                    <tbody>
                        <!-- Item -->
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    BS in Information Technology (BSIT)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    BS in Computer Science (BSCS)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    BS in Information Systems (BSIS)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    BS in Computer Engineering (BSCpE)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    Bachelor of Multimedia Arts (BMMA)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    BS in Business Administration (BSBA)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    BS in Accountancy (BSA)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    BS in Business Management (BSBM)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    BS in Accounting Information System (BSAIS)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    BS in Management Accounting (BSMA)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    BS in Retail Technology and Consumer Science (BSRTCS)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    BS in Hotel and Restaurant Management (BSHRM)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    BS in Hospitality Management (BSHM)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    BS in Culinary Management (BSCM)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    BS in Tourism Management (BSTM)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    BA in Communication (BACOMM)
                                </a>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    3-yr. Hotel and Restaurant Administration (HRA)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    2-yr. Information Technology (IT)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    2-yr. Associate in Computer Technology (ACT)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    2-yr. Associate in Retail Technology (ART)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    2-yr. Hospitality and Restaurant Services (HRS)
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    2-yr. Professional Culinary Arts
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    2-yr. Tourism and Events Management (TEM)
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
