{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
          
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <a href="/up_courses.html"><button type="button" class="btn-close" aria-label="Close"></button></a>
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                        <div class="icon-shape2 icon-shape-primary rounded me-4 me-sm-0">
                            <a href="/up_courses.html"> <img src="static/assets/img/school logo/UP.png" ></a>
                        </div>
                        <div class="d-sm-none">
                            <a href="/up_courses.html" class="card-link"><h2>UPVT</h2></a>
                            <h2 class="h5">BSA</h2>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 px-xl-0">
                        <div class="d-none d-sm-block">
                            <a href="/up_courses.html" class="card-link"><h1>University of The Philippines Visayas College Tacloban </h1></a>
                        </div>
                        <small class="d-flex align-items-center text-gray-500">  
                            
                            Address: Magsaysay Blvd, Downtown, Tacloban City, Leyte
                        </small> 
                    </div>
                </div>
            </div>
            <table class="table table-hover tab">                  
                <thead>
                    <h2 class="font-weight-bold text-secondary">Bachelor of Science in Accountancy</h2>
                </thead>
                
                    <p>
                        <i class="fa-light fa-circle-chevron-right"></i>
                        DURATION: <span class="text-secondary h5">5 Years </span>
                    </p>
               
            </table><br>
            <h3>Program Overview</h3>
            <p>The Bachelor of Science in Accountancy (BSA) program is a five-year program focused on subjects in financial, public, and managerial accounting, auditing, administration, business laws, and taxation. The program also teaches students to integrate information technology concepts into business systems, to create a more systematic and organized way of storing business-related data. Aside from business topics, BSA also equips students with a basic understanding of computer programming and auditing systems. </p>

            <p>
                <i class="fa-light fa-circle-chevron-right"></i>
                ADMISSION REQUIREMENTS:
            </p>
            <div>
                <div id="this1" class="form-check form-check-inline">
                   
                    <u><label class="form1" for="inlineRadio1"><u>Freshmen</label></u></u>
                  </div>
                  |
                  <div id="this1" class="form-check form-check-inline">
                    
                    <label class="form1" for="inlineRadio2"><u>Transferee</u></label>
                  </div>

             <div class="msgbox"></div>
            </div><br>
            <p>
                <i class="fa-light fa-circle-chevron-right"></i>
                TUITION FEE: <span class="text-secondary h5">FREE</span><br>
                <span class="text-info">Note: This School is included in Republic Act 10931 or the "Universal Access to Quality Tertiary Education Act"</span>
            </p>

            
</div>

        
            
        
 </div>
                
           
        
        
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-0 shadow">
                       
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="col-12 px-0 mb-4">
                <div class="card border-0 shadow">
                        
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
